#the output
flip
#the output files
k*.exp
#the large solutions folders
solutions/*
!solutions/example
!solutions/example/*
#helper python/sage files (for folder management)
*.py
!down.py
#the above is an important file for understanding how the search works
*.sage
#the logs
*.log
